*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  max-width: 500px;
  margin: 0 auto;
}
header{
  font-weight: 700; 
  font-size: 25px;
  max-width: 500px;
  margin: 15px auto;
  padding-left: 20px;
}
.sign-up{width: 100%;}
.sign-up h1{
  margin-top: 67px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}
.sign-up-input,.sign-up-input-error{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.id-box{
display: flex;
width: 90%;
max-width: 500px;
height:50px;
border-radius: 5px 5px 0 0;
border:1px solid black;
background-color:rgba(233,232,236,0.2);
}
.id-box:focus-within{
  outline: 1px solid black;
}
.id-box:focus-within .icon i {
  color: #000;
}
.name-box{
display: flex;
width: 90%;
max-width: 500px;
height:50px;
margin-top: -1px;
border-radius: 0 0 5px 5px;
border:1px solid #000 ;
background-color:rgba(233,232,236,0.2)
}
.name-box:focus-within{
  outline: 1px solid #000;
}
.name-box:focus-within .icon i{
  color: #000;
}
.password-box,.password-box2,.email-box{
  display: flex;
  width: 90%;
  max-width: 500px;
  height:50px;
  margin-top: -1px;
  border:1px solid black;
  background-color:rgba(233,232,236,0.2)
}
.password-box:focus-within{
  outline: 1px solid #000;
}
.password-box:focus-within .icon i{
  color: #000;
}
.password-box2:focus-within{
  outline: 1px solid #000;
}
.password-box2:focus-within .icon i{
  color: #000;
}
.password-box2:focus-within{
  outline: 1px solid #000;
}
.password-box2:focus-within .icon i{
  color: #000;
}
.email-box:focus-within{
  outline: 1px solid black;
}
.email-box:focus-within .icon i{
  color: #000;
}
.check-button {
margin-right: 15px;
white-space: nowrap;
border: none;
font-weight: 700;
font-size: 14px;
color: #000;
background-color:rgba(233,232,236,0.2)
}
.icon{
  background-color:rgba(233,232,236,0.2);
}
i{
  color: #B5B5B5;
  margin-top: 15px;
  padding:0 20px;
}
input:focus {outline:none;}
input.id{
  width: 100%;
  max-width: 500px;
  height:50px;
  border:none;
  background-color:rgba(233,232,236,0.2);
}
input.email{
  width: 100%;
  max-width: 500px;
  height:50px;
  border:none;
  background-color:rgba(233,232,236,0.2);
}
.password,.password2,.name{
  width: 100%;
  max-width: 500px;
  height:50px;
  border:none;
  background-color:rgba(233,232,236,0.2);
}
.button-box{
  display: flex; 
  justify-content: center;
  max-width: 500px;
  bottom: 30px;
  position: fixed;
  width: 100%;
}
.button{
  width: 90%;
  max-width: 500px;
  height:50px;
  text-align: center;
  line-height: 50px;
  background-color:#000;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
}
.userid-error,
.userpw-error,
.unmatch-pw,
.usermail-error,
.usernick-error {
  display: none;
  margin-left: 30px;
  margin-top: 10px;
  color: red;
  font-size: 10px;
}

.error{
  border:2px solid red;
  margin-top: -2px;
}
.error-color{
  color: red;
}

@media screen and (min-width:768px) {
  .sign-up h1{
    margin-top: 167px;
  }
}