*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  max-width: 500px;
  margin: 0 auto;
}
.icon{
  max-width:500px;
  margin: 15px auto;
  position: fixed;
}
i{
  font-size: 30px;
  padding-left: 20px;
}
.login{
  padding-top:100px;
}
.id-box i{
  font-size: 18px;
  background-color:rgba(233,232,236,0.2);
  color: #D9D9D9;
  padding:15px 20px;
  text-align: center;
}
.password-box i{
  font-size: 18px;
  background-color:rgba(233,232,236,0.2);
  color: #D9D9D9;
  padding:15px 20px;
  text-align: center;
}
.sign-in{
  width: 100%;
}
.sign-in h1{
    /* margin-top: 64px; */
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.sign-in-form{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.id{
  width: 100%;
  max-width: 500px;
  height:50px;
  background-color:rgba(233,232,236,0.2);
  border: none;
}
.password{
  width: 100%;
  max-width: 500px;
  height:50px;
  border: none;
  background-color:rgba(233,232,236,0.2);
}
.button{
  width: 90%;
  max-width: 500px;
  height:50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color:#000;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  border: none;
}
.find-button{
  width: 235px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.find-button div{
  font-weight: 800;
  font-size: 14px;
  color:#B5B5B5;
  cursor:default;
}
input:focus {outline:none;}
.id-box{
  display: flex;
  width: 90%;
  max-width: 500px;
  height:50px;
  border-radius: 5px 5px 0 0;
  border-width:1px 1px 0px 1px;
  border-style:solid;
  border-color: #000;
}
.id-box:focus-within{
  border-width:1px 1px 1px 1px;
  outline: 1px solid black;
}
.id-box:focus-within i {
  color: #000;
}
.password-box{
  display: flex;
  width: 90%;
  max-width: 500px;
  height:50px;
  border-radius: 0 0 5px 5px;
  border:1px solid#000;
}
.password-box:focus-within{
  border-width:1px 1px 1px 1px;
  outline: 1px solid #000;
}
.password-box:focus-within i{
  color: #000;
}
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 16px 0px;
  color: #B5B5B5;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background:#E9E8EC;
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 10px;
}
.social{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap:10px
}
.google{
  display: flex;
  width: 90%;
  max-width: 500px;
  height:50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #000;
  margin-top: 10px 0;
  font-weight: 400;
  font-size: 18px;
}
.naver,.kakao{
  display: flex;
  width: 90%;
  max-width: 500px;
  height:50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px 0;
  font-weight: 400;
  font-size: 18px;
}
.naver img,.kakao img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.google img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.google:hover{
  background-color: #F7FAFE;
}
.naver{
  background-color: #03C75A;
}
.kakao{
  background-color: #FDDC3F;
}
.mobile-social {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.mobile-social img{
  width: 40px;
  height: 40px;
}
.social{
  display: none;
}
.id-error,.pw-error {
  display: none;
  margin-left: 30px;
  margin-top: 10px;
  color: red;
  font-size: 10px;
}


/* 태블릿 */
@media screen and (min-width:768px) {
  i{
    font-size: 28px;
  }
  .login{
    padding-top: 150px;
  }
  .social{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap:10px
  }
  .mobile-social{
    display: none;
  }
}
